<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<nav class="navbar navbar-default" role="navigation" th:fragment="header">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" th:href="@{/}">Airline Booking</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li sec:authorize="hasAuthority('CUSTOMER')">
					<a href="/customer-profile" th:href="@{/customer-profile}">Profile</a>
				</li>
				<li sec:authorize="hasAuthority('COMPANY')">
					<a href="/company-profile" th:href="@{/company-profile}">Profile</a>
				</li>
				<li>
					<a href="/flights" th:href="@{/flights}">Flights</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="nav-item" sec:authorize="isAuthenticated()">
					<a href="#" class="text-center" sec:authentication="name">Logged user</a>
				</li>
				<li sec:authorize="isAnonymous()">
					<a href="/login" th:href="@{/login}">
						<span class="glyphicon glyphicon-log-in"></span>&nbsp;Login
					</a>
				</li>
				<li sec:authorize="isAuthenticated()">
					<a href="/logout" th:href="@{/logout}">
						<span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
</body>
</html>