<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<link rel="shortcut icon" th:href="@{img/favicon.ico}"/>
	<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<section layout:fragment="content">
</section>
<div th:insert="~{fragments/footer :: footer}">&copy; 2018 The Static Templates</div>
</body>
</html>