<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/layout">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<section layout:fragment="content">
	<div class="container">
		<div class="col-lg-3">
			<ul class="list-group">
				<li class="list-group-item" th:text="${currentUser.username}">User name</li>
				<li class="list-group-item" th:text="${currentUser.email}">Email</li>
				<li class="list-group-item" th:text="${currentUser.balance} + '$'">Balance</li>
				<li class="list-group-item">
					<a type="button" class="btn btn-success" href="/new-flight" th:href="@{/new-flight}"><i class="glyphicon glyphicon-plus"></i> Flight</a>
				</li>
			</ul>
		</div>
		<div class="col-lg-9">
			<div th:if="${flights.isEmpty()}" class="alert alert-info">
				You don't have flights
			</div>
			<div th:if="${!flights.isEmpty()}">
				<h3>Your flights</h3>
				<p class="bg-success text-center" style="width: 15%">Available seats</p>
				<p class="bg-warning text-center" style="width: 15%">Booked seats</p>
				<table class="table table-hover table-borderless">
					<thead>
					<tr>
						<th>#</th>
						<th>departure</th>
						<th>date</th>
						<th>arrival</th>
						<th>date</th>
						<th>E class</th>
						<th>C class</th>
						<th>B class</th>
						<th>status</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="flight : ${flights}">
						<td th:text="'0' + ${flight.id}">ID</td>
						<td th:text="${flight.placeOfDeparture}">Departure</td>
						<td>
							<div th:if="${flight.departureTime.isAfter(now.plusHours(1).plusMinutes(30)) && flight.status.toString().equals('ON_TIME')}">
								<a th:href="@{/departure-date-change-form/(flightId=${flight.id})}"
								   th:text="${#temporals.format(flight.departureTime, 'dd.MM.yyyy HH:mm')}"></a>
							</div>
							<div th:unless="${flight.departureTime.isAfter(now.plusHours(1).plusMinutes(30)) && flight.status.toString().equals('ON_TIME')}">
								<p th:text="${#temporals.format(flight.departureTime, 'dd.MM.yyyy HH:mm')}"></p>
							</div>
						</td>
						<td th:text="${flight.placeOfArrival}">Arrival</td>
						<td th:text="${#temporals.format(flight.arrivalTime, 'dd.MM.yyyy HH:mm')}"></td>
						<td>
							<p class="bg-success text-center td-nowrap-50" th:text="${flight.economyClass}">0</p>
							<p class="bg-warning text-center td-nowrap-50" th:text="${sorted?.get(flight.id)?.get('ECONOMY')?.intValue()}">booked 0</p>
						</td>
						<td>
							<p class="bg-success text-center td-nowrap-50" th:text="${flight.comfortClass}">0</p>
							<p class="bg-warning text-center td-nowrap-50" th:text="${sorted?.get(flight.id)?.get('COMFORT')?.intValue()}">booked 0</p>
						</td>
						<td>
							<p class="bg-success text-center td-nowrap-50" th:text="${flight.businessClass}">0</p>
							<p class="bg-warning text-center td-nowrap-50" th:text="${sorted?.get(flight.id)?.get('BUSINESS')?.intValue()}">booked 0</p>
						</td>
						<td th:text="${flight.status}">status</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
</body>
</html>>