<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/layout">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<section layout:fragment="content">
	<div class="container">
		<div class="col-lg-3">
			<ul class="list-group">
				<li class="list-group-item" th:text="${currentUser.username}">User name</li>
				<li class="list-group-item" th:text="${currentUser.email}">Email</li>
				<li class="list-group-item" th:text="${currentUser.balance} + '$'">Balance</li>
				<li class="list-group-item">
					<form th:action="@{/fill-up-balance}" method="post">
						<button type="submit" class="btn btn-success">Fill up 1000$</button>
					</form>
				</li>
			</ul>
		</div>
		<div class="col-lg-9">
			<div th:if="${tickets.isEmpty()}" class="alert alert-info">
				You don't have tickets
			</div>
			<div th:if="${!tickets.isEmpty()}">
				<table class="table table-hover table-borderless text-center">
					<thead>
					<tr>
						<th>#</th>
						<th>purchase date</th>
						<th>company</th>
						<th>departure</th>
						<th>date</th>
						<th>arrival</th>
						<th>date</th>
						<th>count</th>
						<th>type</th>
						<th>price</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="ticket : ${tickets}">
						<td th:text="'0' + ${ticket.id}">ID</td>
						<td th:text="${#temporals.format(ticket.dateOfPurchase, 'dd.MM.yyyy')}" nowrap>date</td>
						<td th:text="${ticket.flight.user.username}">Company</td>
						<td th:text="${ticket.flight.placeOfDeparture}">Departure</td>
						<td th:text="${#temporals.format(ticket.flight.departureTime, 'dd.MM.yyyy HH:mm')}">date</td>
						<td th:text="${ticket.flight.placeOfArrival}">Arrival</td>
						<td th:text="${#temporals.format(ticket.flight.arrivalTime, 'dd.MM.yyyy HH:mm')}"></td>
						<td th:text="${ticket.count}">0</td>
						<td th:text="${ticket.type}">Type</td>
						<td class="text-center" th:text="${ticket.totalPrice}">0.0</td>
						<td>
							<a type="button"  class="btn btn-info" th:href="@{/ticket-pdf/(id=${ticket.id})}">
								<i class="glyphicon glyphicon-download-alt"></i> PDF
							</a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
</body>
</html>