<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/layout">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<section layout:fragment="content">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="text-center">
					<h3><i class="glyphicon glyphicon-calendar" style="font-size:2em;"></i></h3>
					<h2 class="text-center">DEPARTURE CHANGING</h2>
					<div class="panel-body">
						<div th:if="${isDelayed}"
							 class="alert alert-primary"
							 role="alert"
							 th:text="#{cashback.message(#{cashback.percent})}"></div>
						<div class="panel panel-default">
							<form th:action="@{/departure-date-change-processing/(difference=${difference})}" th:object="${flight}" method="post">
								<input type="hidden" th:field="*{id}">
								<input type="hidden" th:field="*{user}">
								<input type="hidden" th:field="*{placeOfDeparture}">
								<input type="hidden" th:field="*{placeOfArrival}">
								<input type="hidden" th:field="*{arrivalTime}">
								<input type="hidden" th:field="*{status}">
								<input type="hidden" th:field="*{economyClass}">
								<input type="hidden" th:field="*{comfortClass}">
								<input type="hidden" th:field="*{businessClass}">
								<input type="hidden" th:field="*{economyPrice}">
								<input type="hidden" th:field="*{comfortPrice}">
								<input type="hidden" th:field="*{businessPrice}">
								<table class="table table-borderless">
									<tr>
										<td th:text="*{placeOfDeparture}"></td>
										<td>
											<div class="form-group"
												 th:classappend="${#fields.hasErrors('departureTime')}? 'has-error':''">
												<div class="input-group">
													<input class="form-control"
														   type="datetime-local"
														   id="departureTime"
														   th:field="*{departureTime}">
													<span class="input-group-addon">
														<i class="glyphicon glyphicon-calendar"></i>
														</span>
												</div>
												<p class="error-message text-center"
												   th:each="error: ${#fields.errors('departureTime')}"
												   th:text="${error}">Validation error</p>
											</div>
										</td>
									</tr>
									<tr>
										<td th:text="*{placeOfArrival}"></td>
										<td th:text="*{#temporals.format(arrivalTime, 'dd-MM-yyyy HH:mm')}"></td>
									</tr>
								</table>
								<div class="form-group">
									<input type="submit">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>