<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	  layout:decorator="fragments/layout">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<section layout:fragment="content">
	<div class="container">
		<div th:if="${success}">
			<div class="alert alert-info">
				You've successfully create new flight!
			</div>
		</div>
		<div th:if="${purchaseError}">
			<div class="alert alert-info">
				Purchase error. No available seats or not enough money. Check your balance.
			</div>
		</div>
		<div class="alert alert-info" th:if="${flights.isEmpty()}">
			No flights available.
		</div>
		<div th:if="${!flights.isEmpty()}">
			<h2 class="text-center">Available flights</h2>
			<div align="center">
				<table class="table-search">
					<tr>
						<td>
							<div class="form-group">
								<div class="input-group">
									<input id="searchInputText" type="text" class="form-control"  placeholder="Search...">
									<span class="input-group-addon">
										<i class="glyphicon glyphicon-search"></i>
									</span>
								</div>
							</div>
						</td>
						<td>
							<div class="form-group td-nowrap-50">
								<div class="input-group">
									<input id="searchInputDate" type="date" class="form-control">
									<span class="input-group-addon">
										<i class="glyphicon glyphicon-calendar"></i>
									</span>
								</div>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<table class="table table-hover">
				<thead>
				<tr>
					<th>#</th>
					<th>Company</th>
					<th>Departure</th>
					<th></th>
					<th>Flight time</th>
					<th>Arrival</th>
					<th></th>
					<th>Status</th>
					<th>Economy class</th>
					<th>Comfort class</th>
					<th>Business class</th>
				</tr>
				</thead>
				<tbody id="tableToSearch">
				<th:block th:each="flight : ${flights}">
					<tr>
						<td th:text="'0' + ${flight.id}">...</td>
						<td th:text="${flight.user.username}">...</td>
						<td id="departure" th:text="${flight.placeOfDeparture}">...</td>
						<td th:text="${#temporals.format(flight.departureTime, 'dd.MM.yyyy HH:mm')}">...</td>
						<td th:text="${flightTimes.get(flight.id)}">00:00</td>
						<td th:text="${flight.placeOfArrival}">...</td>
						<td th:text="${#temporals.format(flight.arrivalTime, 'dd.MM.yyyy HH:mm')}">...</td>
						<td th:text="${flight.status}">...</td>
						<td>
							<div th:if="${flight.economyClass} == 0">
								<p class="bg bg-danger text-center">No tickets</p>
							</div>
							<div th:if="${flight.economyClass} > 0">
								<div sec:authorize="isAnonymous()">
									<p class="bg bg-success text-center" th:text="${flight.economyClass}">E class</p>
								</div>
								<div sec:authorize="hasAuthority('COMPANY')">
									<p class="bg bg-success text-center" th:text="${flight.economyClass}">E class</p>
								</div>
								<div sec:authorize="hasAuthority('CUSTOMER')">
									<p class="bg bg-success text-center td-nowrap" th:text="${flight.economyClass}">E class</p>
									<a type="button"
									   class="btn btn-info td-nowrap"
									   th:text="${flight.economyPrice} + '$'"
									   th:href="@{/ticket-purchase/(flight_id=${flight.id}, ticket_type='ECONOMY', company_id=${flight.user.id})}"></a>
								</div>
							</div>
						</td>
						<td>
							<div th:if="${flight.comfortClass} == 0">
								<p class="bg bg-danger text-center">No tickets</p>
							</div>
							<div th:if="${flight.comfortClass} > 0">
								<div sec:authorize="isAnonymous()">
									<p class="bg bg-success text-center" th:text="${flight.comfortClass}">C class</p>
								</div>
								<div sec:authorize="hasAuthority('COMPANY')">
									<p class="bg bg-success text-center" th:text="${flight.comfortClass}">C class</p>
								</div>
								<div sec:authorize="hasAuthority('CUSTOMER')">
									<p class="bg bg-success text-center td-nowrap" th:text="${flight.comfortClass}">C class</p>
									<a type="button"
									   class="btn btn-info td-nowrap"
									   th:text="${flight.comfortPrice} + '$'"
									   th:href="@{/ticket-purchase/(flight_id=${flight.id}, ticket_type='COMFORT', company_id=${flight.user.id})}"></a>
								</div>
							</div>
						</td>
						<td>
							<div th:if="${flight.businessClass} == 0">
								<p class="bg bg-danger text-center">No tickets</p>
							</div>
							<div th:if="${flight.businessClass} > 0">
								<div sec:authorize="isAnonymous()">
									<p class="bg bg-success text-center" th:text="${flight.businessClass}">B class</p>
								</div>
								<div sec:authorize="hasAuthority('COMPANY')">
									<p class="bg bg-success text-center" th:text="${flight.businessClass}">B class</p>
								</div>
								<div sec:authorize="hasAuthority('CUSTOMER')">
									<p class="bg bg-success text-center td-nowrap" th:text="${flight.businessClass}">B class</p>
									<a type="button"
									   class="btn btn-info td-nowrap"
									   th:text="${flight.businessPrice} + '$'"
									   th:href="@{/ticket-purchase/(flight_id=${flight.id}, ticket_type='BUSINESS', company_id=${flight.user.id})}"></a>
								</div>
							</div>
						</td>
					</tr>
				</th:block>
				</tbody>
			</table>
		</div>
	</div>
	<script>
        $(document).ready(function(){
            $("#searchInputText").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#tableToSearch tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
            $("#searchInputDate").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#tableToSearch tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
	</script>
</section>
</body>
</html>