<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/layout">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<section layout:fragment="content">
	<div class="container">
		<div class="hero-unit">
			<h1>Hello!</h1>
			<p>Welcome to my app!</p>
		</div>
	</div>
</section>
</body>
</html>