<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/layout">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

	<title>Login</title>
</head>
<body>
<section layout:fragment="content">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1 class="text-center">Login</h1>
				<h1></h1>
				<div th:if="${logout}">
					<div class="alert alert-info">
						You've successfully log out.
					</div>
				</div>
				<div th:if="${error}">
					<div class="alert alert-danger">
						Wrong email or password.
					</div>
				</div>
				<div th:if="${success}">
					<div class="alert alert-info">
						You've successfully registered!
					</div>
				</div>
				<form th:action="@{/login}" method="post">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-user"></i>
							</span>
							<input type="text"
								   id="email"
								   name="email"
								   class="form-control"
								   autofocus="autofocus"
								   value="adam@gmail.com"
								   placeholder="Email"/>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-lock"></i>
							</span>
							<input type="password"
								   id="password"
								   name="password"
								   class="form-control"
								   value="Qwerty12345"
								   placeholder="Password"/>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<input type="submit"
									   name="login-submit"
									   id="login-submit"
									   class="form-control btn btn-success"
									   value="Log In"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<span>New user? <a href="/" th:href="@{/registration}">Register here</a></span>
					</div>
					<div class="form-group">
						Forgot password? <a href="#">Reset password</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>