<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/layout">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<section layout:fragment="content">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="">
					<div class="">
						<div class="text-center">
							<h3><i class="glyphicon glyphicon-plane" style="font-size:2em;"></i></h3>
							<h2 class="text-center">FLIGHT FORM</h2>
							<div class="panel-body">
								<form th:action="@{/new-flight}" th:object="${flight}" method="post">
									<input type="hidden" th:field="*{id}">
									<input type="hidden" th:field="*{user}">
									<input type="hidden" th:field="*{status}">
									<p class="error-message"
									   th:if="${#fields.hasGlobalErrors()}"
									   th:each="error : ${#fields.errors('global')}"
									   th:text="${error}">Validation error</p>
									<table class="table table-borderless">
										<tbody>
										<tr>
											<td>
												<div class="form-group"
													 th:classappend="${#fields.hasErrors('placeOfDeparture')}? 'has-error':''">
													<div class="input-group">
														<span class="input-group-addon">
															<i class="glyphicon glyphicon-arrow-up color-blue"></i>
														</span>
														<input id="placeOfDeparture"
															   class="form-control"
															   placeholder="Place of departure"
															   th:field="*{placeOfDeparture}"/>
													</div>
													<p class="error-message"
													   th:each="error: ${#fields.errors('placeOfDeparture')}"
													   th:text="${error}">Validation error</p>
												</div>
											</td>
											<td>
												<div class="form-group"
													 th:classappend="${#fields.hasErrors('departureTime')}? 'has-error':''">
													<div class="input-group">
														<span class="input-group-addon">
															<i class="glyphicon glyphicon-calendar color-blue"></i>
														</span>
														<input id="departureTime"
															   type="datetime-local"
															   class="form-control"
															   placeholder="Departure time"
															   th:field="*{departureTime}"/>
													</div>
													<p class="error-message"
													   th:each="error: ${#fields.errors('departureTime')}"
													   th:text="${error}">Validation error</p>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="form-group"
													 th:classappend="${#fields.hasErrors('placeOfArrival')}? 'has-error':''">
													<div class="input-group">
														<span class="input-group-addon">
															<i class="glyphicon glyphicon-arrow-down color-blue"></i>
														</span>
														<input id="placeOfArrival"
															   class="form-control"
															   placeholder="Place of arrival"
															   th:field="*{placeOfArrival}"/>
													</div>
													<p class="error-message"
													   th:each="error: ${#fields.errors('placeOfArrival')}"
													   th:text="${error}">Validation error</p>
												</div>
											</td>
											<td>
												<div class="form-group"
													 th:classappend="${#fields.hasErrors('arrivalTime')}? 'has-error':''">
													<div class="input-group">
														<span class="input-group-addon">
															<i class="glyphicon glyphicon-calendar color-blue"></i>
														</span>
														<input id="arrivalTime"
															   type="datetime-local"
															   class="form-control"
															   placeholder="Departure time"
															   th:value="${#dates.createNow()}"
															   th:field="*{arrivalTime}"/>
													</div>
													<p class="error-message"
													   th:each="error: ${#fields.errors('arrivalTime')}"
													   th:text="${error}">Validation error</p>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="form-group"
													 th:classappend="${#fields.hasErrors('economyClass')}? 'has-error':''">
													<div class="input-group">
														<span class="input-group-addon">
															<i class="glyphicon glyphicon-pawn color-blue"></i>
														</span>
														<input id="economyClass"
															   type="number"
															   th:min="0"
															   class="form-control"
															   placeholder="Economy seats"
															   th:field="*{economyClass}"/>
														<span class="input-group-addon">seats</span>
													</div>
													<p class="error-message"
													   th:each="error: ${#fields.errors('economyClass')}"
													   th:text="${error}">Validation error</p>
												</div>
											</td>
											<td>
												<div class="form-group"
													 th:classappend="${#fields.hasErrors('economyPrice')}? 'has-error':''">
													<div class="input-group">
														<input id="economyPrice"
															   type="number"
															   th:min="0"
															   class="form-control"
															   placeholder="Price"
															   th:field="*{economyPrice}"/>
														<span class="input-group-addon">
															<i class="glyphicon glyphicon-usd color-blue"></i>
														</span>
													</div>
													<p class="error-message"
													   th:each="error: ${#fields.errors('economyPrice')}"
													   th:text="${error}">Validation error</p>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="form-group"
													 th:classappend="${#fields.hasErrors('comfortClass')}? 'has-error':''">
													<div class="input-group">
														<span class="input-group-addon">
															<i class="glyphicon glyphicon-knight color-blue"></i>
														</span>
														<input id="comfortClass"
															   type="number"
															   th:min="0"
															   class="form-control"
															   placeholder="Comfort seats"
															   th:field="*{comfortClass}"/>
														<span class="input-group-addon">seats</span>
													</div>
													<p class="error-message"
													   th:each="error: ${#fields.errors('comfortClass')}"
													   th:text="${error}">Validation error</p>
												</div>
											</td>
											<td>
												<div class="form-group"
													 th:classappend="${#fields.hasErrors('comfortPrice')}? 'has-error':''">
													<div class="input-group">
														<input id="comfortPrice"
															   type="number"
															   th:min="0"
															   class="form-control"
															   placeholder="Price"
															   th:field="*{comfortPrice}"/>
														<span class="input-group-addon">
															<i class="glyphicon glyphicon-usd color-blue"></i>
														</span>
													</div>
													<p class="error-message"
													   th:each="error: ${#fields.errors('comfortPrice')}"
													   th:text="${error}">Validation error</p>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="form-group"
													 th:classappend="${#fields.hasErrors('businessClass')}? 'has-error':''">
													<div class="input-group">
														<span class="input-group-addon">
															<i class="glyphicon glyphicon-king color-blue"></i>
														</span>
														<input id="businessClass"
															   type="number"
															   th:min="0"
															   class="form-control"
															   placeholder="Business seats"
															   th:field="*{businessClass}"/>
														<span class="input-group-addon">seats</span>
													</div>
													<p class="error-message"
													   th:each="error: ${#fields.errors('businessClass')}"
													   th:text="${error}">Validation error</p>
												</div>
											</td>
											<td>
												<div class="form-group"
													 th:classappend="${#fields.hasErrors('businessPrice')}? 'has-error':''">
													<div class="input-group">
														<input id="businessPrice"
															   type="number"
															   th:min="0"
															   class="form-control"
															   placeholder="Price"
															   th:field="*{businessPrice}"/>
														<span class="input-group-addon">
															<i class="glyphicon glyphicon-usd color-blue"></i>
														</span>
													</div>
													<p class="error-message"
													   th:each="error: ${#fields.errors('businessPrice')}"
													   th:text="${error}">Validation error</p>
												</div>
											</td>
										</tr>
										</tbody>
									</table>
									<div class="form-group">
										<button type="submit" class="btn btn-success btn-block">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>