<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/layout">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<section layout:fragment="content">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="text-center">
					<h3><i class="glyphicon glyphicon-file" style="font-size:2em;"></i></h3>
					<h2 class="text-center">TICKET BOOKING</h2>
					<div class="panel-body">
						<div class="panel panel-default">
							<form th:action="@{/ticket-purchase-processing/(companyId=${companyId}, priceByTicket=${price})}" th:object="${ticket}" method="post">
								<input type="hidden" th:field="*{id}">
								<input type="hidden" th:field="*{flight}">
								<input type="hidden" th:field="*{user}">
								<input type="hidden" th:field="*{type}">
								<input type="hidden" th:field="*{totalPrice}" th:value="${price * ticket.count}">
								<input type="hidden" th:field="*{dateOfPurchase}">
								<input type="hidden" th:value="${price}" id="price">
								<table class="table table-borderless">
									<tr>
										<td th:text="${ticket.flight.placeOfDeparture}"></td>
										<td th:text="${#temporals.format(ticket.flight.departureTime, 'dd-MM-yyyy HH:mm')}"></td>
									</tr>
									<tr>
										<td th:text="${ticket.flight.placeOfArrival}"></td>
										<td th:text="${#temporals.format(ticket.flight.arrivalTime, 'dd-MM-yyyy HH:mm')}"></td>
									</tr>
									<tr>
										<td>Type: </td>
										<td th:text="${ticket.type.toString()}"></td>
									</tr>
									<tr>
										<td>
											<div class="input-group">
												<span class="input-group-addon">count</span>
												<div class="col-3">
													<input id="count"
														   name="count"
														   th:min="1"
														   th:max="${availableTickets}"
														   type="number"
														   class="form-control"
														   th:field="${ticket.count}"/>
												</div>
											</div>
										</td>
										<td>
											<span id="totalSum">Empty</span>
										</td>
									</tr>
								</table>
								<div class="form-group">
									<button type="submit" class="btn btn-success">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
        var price = $('#price').val();

        $(document).ready(function () {
            calculatePrice();
        });

        function calculatePrice() {
            var count = $('#count').val();
            $('#totalSum').html('To pay ' + count * price + '$');
        }

        $('#count').change(calculatePrice);
	</script>
</section>
</body>
</html>