<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/layout">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

	<title>Registration</title>
</head>
<body>
<section layout:fragment="content">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="">
					<div class="">
						<div class="text-center">
							<h3><i class="glyphicon glyphicon-user" style="font-size:2em;"></i></h3>
							<h2 class="text-center">Registration</h2>
							<div class="panel-body">
								<form th:action="@{/registration}" th:object="${user}" method="post">

									<p class="error-message"
									   th:if="${#fields.hasGlobalErrors()}"
									   th:each="error : ${#fields.errors('global')}"
									   th:text="${error}">Validation error</p>

									<div class="form-group"
										 th:classappend="${#fields.hasErrors('role')}? 'has-error':''">
										<div class="input-group">
											<span class="input-group-addon">
												<i class="glyphicon glyphicon-knight color-blue"></i>
											</span>
											<select class="form-control" name="role" id="role" th:field="*{role}">
												<option value="">--</option>
												<option value="CUSTOMER">Customer</option>
												<option value="COMPANY">Company</option>
											</select>
										</div>
										<p class="error-message"
										   th:each="error: ${#fields.errors('role')}"
										   th:text="${error}">Validation error</p>
									</div>
									<div class="form-group"
										 th:classappend="${#fields.hasErrors('username')}? 'has-error':''">
										<div class="input-group">
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-user color-blue"></i>
										</span>
											<input id="username"
												   value="User"
												   class="form-control"
												   placeholder="Username"
												   th:field="*{username}"/>
										</div>
										<p class="error-message"
										   th:each="error: ${#fields.errors('username')}"
										   th:text="${error}">Validation error</p>
									</div>
									<div class="form-group"
										 th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
										<div class="input-group">
											<span class="input-group-addon">@</span>
											<input id="email"
												   value="user@gmail.com"
												   class="form-control"
												   placeholder="E-mail"
												   th:field="*{email}"/>
										</div>
										<p class="error-message"
										   th:each="error: ${#fields.errors('email')}"
										   th:text="${error}">Validation error</p>
									</div>
									<div class="form-group"
										 th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
										<div class="input-group">
											<span class="input-group-addon">@</span>
											<input id="confirmEmail"
												   value="user@gmail.com"
												   class="form-control"
												   placeholder="Confirm E-mail"
												   th:field="*{confirmEmail}"/>
										</div>
										<p class="error-message"
										   th:each="error: ${#fields.errors('confirmEmail')}"
										   th:text="${error}">Validation error</p>
									</div>
									<div class="form-group"
										 th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
										<div class="input-group">
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-lock"></i>
										</span>
											<input id="password"
												   value="Qwerty12345"
												   class="form-control"
												   placeholder="password"
												   type="password"
												   th:field="*{password}"/>
										</div>
										<ul class="text-left"
											th:each="error: ${#fields.errors('password')}">
											<li th:each="message : ${error.split(',')}">
												<p class="error-message"
												   th:text="${message}"></p>
											</li>
										</ul>
									</div>
									<div class="form-group"
										 th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
										<div class="input-group">
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-lock"></i>
										</span>
											<input id="confirmPassword"
												   value="Qwerty12345"
												   class="form-control"
												   type="password"
												   placeholder="Confirm password"
												   th:field="*{confirmPassword}"/>
										</div>
										<ul class="text-left"
											th:each="error: ${#fields.errors('confirmPassword')}">
											<li th:each="message : ${error.split(',')}">
												<p class="error-message"
												   th:text="${message}"></p>
											</li>
										</ul>
									</div>
									<div class="form-group"
										 th:classappend="${#fields.hasErrors('terms')}? 'has-error':''">
										<input id="terms"
											   type="checkbox"
											   th:field="*{terms}"/>  
										<label class="control-label" for="terms">
											I agree with the <a href="#">terms and conditions</a> for Registration.
										</label>
										<p class="error-message"
										   th:each="error : ${#fields.errors('terms')}"
										   th:text="${error}">Validation error</p>
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-success btn-block">Register</button>
									</div>
								</form>

							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						Already registered? <a href="/" th:href="@{/login}">Login</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</section>
</body>
</html>