<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<style>
		h1 {
			background-color: #6c6a6d
		}
		table {
			border: 2px solid black;
			border-collapse: collapse;
			width: 100%;
		}
		th, td {
			padding: 5px;
		}
		th {
			background-color: darkgray;
		}
	</style>
</head>
<body>
<table>
	<tr>
		<th colspan="7" th:text="'Ticket #0' + ${ticketNumber}">Ticket number</th>
	</tr>
	<tr>
		<td colspan="4">
			<p th:text="'Purchase time: ' + ${#temporals.format(purchaseTime, 'dd.MM.yyyy HH:mm')}">Date</p>
			<p th:text="'Year of travel: ' + ${#temporals.format(departureTime, 'yyyy')}"></p>
		</td>
		<td colspan="3">
			<p th:text="${name}">name</p>
			<p th:text="${count} + ' seats'">count</p>
		</td>
	</tr>
	<tr>
		<th>Flight #</th>
		<th>Date</th>
		<th>Time</th>
		<th>From / To</th>
		<th>Date</th>
		<th>Time</th>
		<th>Class</th>
	</tr>
	<tr>
		<td th:text="'0' + ${flightId}">...</td>
		<td th:text="${#temporals.format(departureTime, 'dd.MM')}">00.00</td>
		<td th:text="${#temporals.format(departureTime, 'HH:mm')}">00:00</td>
		<td th:text="${departurePlace} + ' -> ' + ${arrivalPlace}">...</td>
		<td th:text="${#temporals.format(arrivalTime, 'dd.MM')}">00.00</td>
		<td th:text="${#temporals.format(departureTime, 'HH:mm')}">00:00</td>
		<td th:text="${class}">class</td>
	</tr>
	<tr>
		<td></td>
		<td colspan="2">
			Departure
		</td>
		<td></td>
		<td colspan="2">
			Arrival
		</td>
		<td></td>
	</tr>
</table>
</body>
</html>